<% @posts.each do |post| %>

  <div class="row">
    <div class="nine columns">
      <h3><%= link_to post.title, post_path(post) %></h3>
    </div>
    <div class="three columns date">
      <%= l post.created_at.to_date %>
    </div>
  </div>

  <div class="panel">
    <%= sanitize post.content %>
    <p><a href="<%= post_path(post) %>">Читать полностью...</a></p>
  </div>

<% end %>

<div class="pagination">
  <%= paginate @posts, :window => 2 %>
</div>
   

