<div class="eight columns">

  <% @posts.each do |post| %>

    <div class="row">
      <div class="nine columns">
        <h3><%= post.title %></h3>
      </div>
      <div class="three columns date">
        <%= l post.created_at.to_date %>
      </div>
    </div>

    <div class="panel">
      <p><%= post.content %></p>
      <a href="<%= post_path(post) %>">Full text</a>
    </div>

  <% end %>

  <div class="pagination">
    <%= paginate @posts, :window => 2 %>
  </div>

</div>